<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Camembert OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Camembert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0749EFD21C42FB8900DCC79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0749EFDC1C42FB8A00DCC79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F77582B1C43BA42001E2091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F77583A1C43BB77001E2091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
